.logo {
    width: 50px; 
    height: auto; 
  }

.nav-link {
    position: relative;
    display: inline-block;
    color: white;
    text-decoration: none;
    padding-bottom: 5px; 
    transition: color 0.2s;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    display: block;
    margin-top: 5px; 
    left: 0; 
    background: rgb(236, 125, 231); 
    transition: width 0.3s ease-out; 
}

.nav-link:hover::after {
    width: 100%; 
}

.nav-link:hover {
    color: white; 
}